.env
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.py[cod]
coverage.xml
test-results.xml
htmlcov/
dist/
build/
*.egg-info/
/data/
/inbox/
/generated-fixtures/
.scannerwork/
